<div class="py-12 bg-gray-50 hidden">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="text-base leading-6 text-blue-600 font-semibold tracking-wide uppercase">Client Management - <span class="text-red-700">in development</span></p>
      <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        A better way to manage shippers & receivers
      </h3>
      <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
        Redefining the way you interact with your shippers, receivers & brokers. Provide client facing logins, allow them to add load requests, send them load tracking links for realtime load status updates. All in real time.
      </p>
    </div>

    <div class="mt-10">
      <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
        <li>
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                <i class="far fa-clock fa-2x"></i>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">To the second time tracking</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Stop guessing the where's and when's. with <span class="text-blue-700 logo-font font-semibold"> roadze's</span> to the second time tracking you pay for the work they have done without the guessing or constant questions.
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                <i class="far fa-eye fa-2x"></i>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Track load statuses</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Track load progress. Dispatchers are notified based on custom notification rules. When a driver completes a time entry, the people that need to know, know!
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                <i class="far fa-funnel-dollar fa-2x"></i>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Custom time and payroll rules</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                It can often be tricky for driver to keep track of client and contractual time on site rules. With <span class="logo-font font-semibold text-blue-700">roadze's</span> smart tracking system, all you have to do is set up client specific rule sets and we do the rest.
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                <i class="far fa-comment-alt-lines fa-2x"></i>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Notifications</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                As with all <span class="text-blue-700 logo-font font-semibold">roadze</span> modules, you get only the notifications you want or need. Select from Email, SMS, or Desktop / Push notifications for the events you or your team needs.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>