<div class="bg-gray-50">
  <div class="pt-12 px-4 sm:px-6 lg:px-8 lg:pt-20">
    <div class="text-center">
      <p class="mt- text-3xl leading-9 font-extrabold text-blue-700 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
        Pricing designed to keep more in your pockets.
      </p>
      <p class="mt-3 max-w-4xl mx-auto text-xl leading-7 text-gray-700 sm:mt-5 sm:text-2xl sm:leading-8">
        All <span class="text-blue-700 logo-font font-semibold">roadze</span> plans start with a free 30 day trial. No credit card required to get started. No obligations to continue when the trial ends!
      </p>
    </div>
  </div>

  <div class="mt-16 bg-gray-50 pb-12 lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 h-5/6 bg-gray-50 lg:h-2/3"></div>
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          <div class="mx-auto max-w-md lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-l-lg border-2 lg:border-r-0 border-blue-600">
              <div class="flex-1 flex flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h2 class="text-center text-2xl leading-8 font-medium text-blue-700">
                      Owner Operators
                    </h2>
                    <div class="mt-4 flex items-center justify-center">
                        <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-blue-800">
                          <span class="mt-2 mr-2 text-4xl font-medium">
                            $
                          </span>
                          <span class="font-extrabold">
                            29.99
                          </span>
                        </span>
                      <span class="text-xl leading-7 font-medium text-gray-400">
                          /month
                        </span>
                    </div>
                  </div>
                </div>
                <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul>
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                        Pariatur quod similique
                      </p>
                    </li>
                    <li class="mt-4 flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                        Sapiente libero doloribus
                      </p>
                    </li>
                    <li class="mt-4 flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                        Vel ipsa esse repudiandae
                      </p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <%# link_to "Start 30 day trial", new_frontend_account_url(subdomain: 'app', account_type: 'owner_operator', anchor: 'form') , class: "block w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base leading-6 font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:shadow-outline transition ease-in-out duration-150", data: { gumroad: { single: { product: true } } } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 max-w-lg mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
            <div class="relative z-10 rounded-lg shadow-xl">
              <div class="pointer-events-none absolute inset-0 rounded-lg border-2 border-blue-600"></div>
              <div class="absolute inset-x-0 top-0 transform translate-y-px">
                <div class="flex justify-center transform -translate-y-1/2">
                    <span class="inline-flex rounded-full bg-blue-600 px-4 py-1 text-sm leading-5 font-semibold tracking-wider uppercase text-white">
                      Most popular
                    </span>
                </div>
              </div>
              <div class="bg-white rounded-t-lg px-6 pt-12 pb-10">
                <div>
                  <h2 class="text-center text-3xl leading-9 font-semibold text-blue-700 sm:-mx-6">
                    Carriers
                  </h2>
                  <div class="mt-4 flex items-center justify-center">
                      <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-blue-800 sm:text-6xl">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          $
                        </span>
                        <span class="font-extrabold">
                          199.99
                        </span>
                      </span>
                    <span class="text-2xl leading-8 font-medium text-gray-400">
                        /month
                      </span>
                  </div>
                </div>
              </div>
              <div class="border-t-2 border-gray-100 rounded-b-lg pt-10 pb-8 px-6 bg-gray-50 sm:px-10 sm:py-10">
                <ul>
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                      Quia rem est sed impedit magnam
                    </p>
                  </li>
                  <li class="mt-4 flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                      Dolorem vero ratione voluptates
                    </p>
                  </li>
                  <li class="mt-4 flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                      Qui sed ab doloribus voluptatem dolore
                    </p>
                  </li>
                  <li class="mt-4 flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                      Laborum commodi molestiae id et fugiat
                    </p>
                  </li>
                  <li class="mt-4 flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                      Nam ut ipsa nesciunt culpa modi dolor
                    </p>
                  </li>
                </ul>
                <div class="mt-10">
                  <div class="rounded-lg shadow-md">
                    <%# link_to "Start your trial", new_frontend_account_url(subdomain: 'app', account_type: 'carrier', anchor: 'form') , class: "block w-full text-center rounded-lg border border-transparent bg-blue-600 px-6 py-4 text-xl leading-6 font-medium text-white hover:bg-blue-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition ease-in-out duration-150", data: { gumroad: { single: { product: true } } } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 mx-auto max-w-md lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
            <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-r-md border-2 lg:border-l-0 border-blue-600">
              <div class="flex-1 flex flex-col">
                <div class="bg-white px-6 py-10">
                  <div>
                    <h2 class="text-center text-2xl leading-8 font-medium text-blue-700">
                      Brokers & Shippers
                    </h2>
                    <div class="mt-4 flex items-center justify-center">
                        <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-blue-800">
                          <span class="mt-2 mr-2 text-4xl font-medium">
                            $
                          </span>
                          <span class="font-extrabold">
                            99.99
                          </span>
                        </span>
                      <span class="text-xl leading-7 font-medium text-gray-400">
                          /month
                        </span>
                    </div>
                  </div>
                </div>
                <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul>
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                        Pariatur quod similique
                      </p>
                    </li>
                    <li class="mt-4 flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                        Sapiente libero doloribus
                      </p>
                    </li>
                    <li class="mt-4 flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base leading-6 font-medium text-gray-500">
                        Vel ipsa esse repudiandae
                      </p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <%# link_to "Start your trial", new_frontend_account_url(subdomain: 'app', account_type: 'broker_shipper', anchor: 'form') , class: "block w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base leading-6 font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:shadow-outline transition ease-in-out duration-150", data: { gumroad: { single: { product: true } } } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-50">
  <div class="pt-12 sm:pt-16 lg:pt-20">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl leading-9 font-extrabold text-blue-700 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
          Brokerage Services
        </h2>
        <p class="mt-4 text-xl leading-7 text-gray-500">
          Not looking for a membership service or a T.L.M.S? let <span class="text-blue-700 logo-font font-semibold">roadze's</span> experienced brokers handle your load.
        </p>
      </div>
    </div>
  </div>

  <div class="mt-8 bg-gray-50 pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
    <div class="relative">
      <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
      <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex">
          <div class="bg-white px-6 py-8 lg:flex-shrink-1 lg:p-12">
            <h3 class="text-2xl leading-8 font-extrabold text-blue-700 sm:text-3xl sm:leading-9">
              Professional Services
            </h3>
            <p class="mt-6 text-base leading-6 text-gray-500">
              <span class="text-blue-700 logo-font font-semibold">roadze</span> lets you get right into the action, request a bid right from the drivers who will haul your load! Post one of two types of quote request. Auction or Flat rate, choose the offer of your choice, pre-pay and roadze handles the rest! We release the payment only after you authorize it.
            </p>
            <div class="mt-8">
              <div class="flex items-center">
                <h4 class="flex-shrink-0 pr-4 bg-white text-sm leading-5 tracking-wider font-semibold uppercase text-blue-600">
                  What's included
                </h4>
                <div class="flex-1 border-t-2 border-gray-200"></div>
              </div>
              <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
                <li class="flex items-start lg:col-span-1">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                    Realtime Quotes
                  </p>
                </li>
                <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                    Load tracking & updates
                  </p>
                </li>
                <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                    Unique tracking numbers to provide your clients
                  </p>
                </li>
                <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                    Same day support
                  </p>
                </li>
                <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                    Low comission rates
                  </p>
                </li>
                <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-sm leading-5 text-gray-700">
                    Cloud Storage for proof of delivery packages
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="py-8 px-6 text-center bg-gray-200 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12">
            <p class="text-lg leading-6 font-medium text-blue-700">
              Transaction commission of
            </p>
            <div class="mt-4 flex items-center justify-center text-5xl leading-none font-extrabold text-blue-800">
              <span>
                % 5.5
              </span>
              <span class="ml-3 text-xl leading-7 font-medium text-gray-500">
                CAD
              </span>
            </div>
            <p class="mt-4 text-sm leading-5">
              <a href="#" class="font-medium text-gray-500 underline">
                Learn about our brokerage services pricing
              </a>
            </p>
            <div class="mt-6">
              <div class="rounded-md shadow">
                <%# link_to "Get Started", new_frontend_account_url(subdomain: 'app', account_type: 'broker_only', anchor: 'form') , class: "flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-800 hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue transition duration-150 ease-in-out", data: { gumroad: { single: { product: true } } } %>
              </div>
            </div>
            <div class="mt-4 text-sm leading-5">
              <a href="#" class="font-medium text-gray-900">
                Have questions? Check out our
                <span class="font-normal text-gray-500">
                  F.A.Q
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-50">
  <div class="pt-12 sm:pt-16 lg:pt-20">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl leading-9 font-extrabold text-blue-700 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
          Dispatching Services
        </h2>
        <p class="mt-4 text-xl leading-7 text-gray-500">
          Not looking for a membership service or a T.L.M.S? let <span class="text-blue-700 logo-font font-semibold">roadze's</span> experienced brokers handle your load.
        </p>
      </div>
    </div>
  </div>

<div class="mt-8 bg-gray-50 pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
  <div class="relative">
    <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
    <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex">
        <div class="bg-white px-6 py-8 lg:flex-shrink-1 lg:p-12">
          <h3 class="text-2xl leading-8 font-extrabold text-blue-700 sm:text-3xl sm:leading-9">
            Dispatching Services
          </h3>
          <p class="mt-6 text-base leading-6 text-gray-500">
            <span class="text-blue-700 logo-font font-semibold">roadze</span> lets you get right into the action, request a bid right from the drivers who will haul your load! Post one of two types of quote request. Auction or Flat rate, choose the offer of your choice, pre-pay and roadze handles the rest! We release the payment only after you authorize it.
          </p>
          <div class="mt-8">
            <div class="flex items-center">
              <h4 class="flex-shrink-0 pr-4 bg-white text-sm leading-5 tracking-wider font-semibold uppercase text-blue-600">
                What's included
              </h4>
              <div class="flex-1 border-t-2 border-gray-200"></div>
            </div>
            <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
              <li class="flex items-start lg:col-span-1">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                  </svg>
                </div>
                <p class="ml-3 text-sm leading-5 text-gray-700">
                  Realtime Quotes
                </p>
              </li>
              <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                  </svg>
                </div>
                <p class="ml-3 text-sm leading-5 text-gray-700">
                  Load tracking & updates
                </p>
              </li>
              <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                  </svg>
                </div>
                <p class="ml-3 text-sm leading-5 text-gray-700">
                  Unique tracking numbers to provide your clients
                </p>
              </li>
              <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                  </svg>
                </div>
                <p class="ml-3 text-sm leading-5 text-gray-700">
                  Same day support
                </p>
              </li>
              <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                  </svg>
                </div>
                <p class="ml-3 text-sm leading-5 text-gray-700">
                  Low comission rates
                </p>
              </li>
              <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                  </svg>
                </div>
                <p class="ml-3 text-sm leading-5 text-gray-700">
                  Cloud Storage for proof of delivery packages
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="py-8 px-6 text-center bg-gray-200 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12">
          <p class="text-lg leading-6 font-medium text-blue-700">
            Transaction commission of
          </p>
          <div class="mt-4 flex items-center justify-center text-5xl leading-none font-extrabold text-blue-800">
              <span>
                % 5.5
              </span>
            <span class="ml-3 text-xl leading-7 font-medium text-gray-500">
                CAD
              </span>
          </div>
          <p class="mt-4 text-sm leading-5">
            <a href="#" class="font-medium text-gray-500 underline">
              Learn about our brokerage services pricing
            </a>
          </p>
          <div class="mt-6">
            <div class="rounded-md shadow">
              <%# link_to "Get Started", new_frontend_account_url(subdomain: 'app', account_type: 'broker_only', anchor: 'form') , class: "flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-800 hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue transition duration-150 ease-in-out", data: { gumroad: { single: { product: true } } } %>
            </div>
          </div>
          <div class="mt-4 text-sm leading-5">
            <a href="#" class="font-medium text-gray-900">
              Have questions? Check out our
              <span class="font-normal text-gray-500">
                  F.A.Q
                </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>