<div class="mx-auto max-w-7xl">
  <%= render 'global/marketing/hero' %>
  <div id="table" class="mt-10">
    <h1>Marketing#company</h1>
    <p>Find me in app/views/marketing/company.html.erb</p>
  </div>
  <%= render 'global/marketing/footer' %>
  <%= render 'global/marketing/cookie_banner', cookie_acceptance: @cookie_acceptance %>
</div>