<div class="mx-auto max-w-7xl">
  <%= render 'global/marketing/hero' %>
  <%= render 'global/marketing/footer' %>
  <%= render 'global/marketing/cookie_banner', cookie_acceptance: @cookie_acceptance %>
</div>
