<div class="mx-auto max-w-7xl">
  <%= render 'global/marketing/hero' %>
  <div id="table" class="mt-10">
    <%= render 'marketing/pricing/pricing_table' %>
  </div>
  <%= render 'global/marketing/footer' %>
  <%= render 'global/marketing/cookie_banner', cookie_acceptance: @cookie_acceptance %>
</div>

