<%= form_for(@account, url: frontend_pages_accounts_url, method: "POST", html: { class: "flex w-full h-screen items-center justify-center" }) do |a| %>
  <div class="border-2 border-black p-3 w-full md:w-3/4 lg:w-5/12">

  </div>
<% end %>